<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillHeadings">
    <h4>Node.js</h4>
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillTexts">
    <p>I can use Node.js to create web servers with appropriate routing.</p>   
    <p>I understand MIME types. HTTP status codes, promises/callbacks, error handling, etc.</p> 
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>
