<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillHeadings">
    <h4>Cloud</h4>
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillTexts">
    <p>I have successfully deployed apps to:</p>
    <ul>
      <li>Amazon Web Services (AWS) S3</li>
      <li>Microsoft Azure</li>
      <li>Heroku</li>
    </ul>    
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>