<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillHeadings">
    <h4>C#</h4>
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillTexts">
    <p>I can use C# to practice Object Oriented Programming, demonstrating understanding of:</p>
    <ul>
      <li>Constructors</li>
      <li>Purpose of getters and setters</li>
      <li>Encapsulation</li>
      <li>Inheritance and loosely coupling classes</li>
      <li>Polymorphism and Method Overloading</li>
      <li>Dictionaries, Hashtables, and Key/Value pairs</li>
      <li>etc.</li>
    </ul>  
    <p>C# was the first programming language that I learned, which made learning JavaScript and TypeScript subsequently much easier, as I understood inheritance, constructors, the benefits/costs of a strongly typed language, etc.</p>
    <p>Understanding C# made it easier to grasp the Angular architecture which has a similar MVC (in Angular's case, Model/Views/Controllers/Services) paradigm.</p>
    <p>Creating .NET backends has made me better appreciate Node and the way in which it tackles similar goals such as dependency injection, modules, middleware, asynchronous programming, etc.</p>
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>