<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillHeadings">
    <h4>C#</h4>
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillTexts">
    <p>I can use C# to practice Object Oriented Programming, demonstrating understanding of:</p>
    <ul>
      <li>Constructors</li>
      <li>Purpose of getters and setters</li>
      <li>Encapsulation</li>
      <li>Inheritance and loosely coupling classes</li>
      <li>Polymorphism and Method Overloading</li>
      <li>Dictionaries, Hashtables, and Key/Value pairs</li>
    </ul>    
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>