<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillHeadings">
    <h4>Entity Framework</h4>
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillTexts">
    <p>Within the .NET environment, I can apply the Entity Framework to build SQL Server databases from C# data models.</p>
    <p>From existing databases, I can build entities in order to create APIs to communicate data to a client.</p>
    <p>I can use the Entity Framework to create RESTful APIs communicating JSON or XML data.</p>
    <p>Using Entity Framework, I can connect Web APIs to SQL Server Databases in order to perform all CRUD / REST (POST/PUT/GET/DELETE) commands.</p>
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>
