<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillHeadings">
    <h4>Entity Framework</h4>
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillTexts">
    <p>Within the .NET environment, I can apply the Entity Framework to build SQL Server databases from C# data models.</p>
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>
