<div class="container">
  <div class="row">
    <div class="col-md-4 hiddenColumns">
      <p></p>
    </div>
    <div class="col-md-4" id="mainLink">
      <a href="http://bogoodskiportfolio.azurewebsites.net/" target="_blank">LINK</a>
    </div>
    <div class="col-md-4 hiddenColumns">
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 hiddenColumns">
      <p></p>
    </div>
    <div class="col-md-4" id="mainTitle">
      <h1>BoGoodSki</h1>
    </div>
    <div class="col-md-4 hiddenColumns">
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 hiddenColumns">
      <p></p>
    </div>
    <div class="col-md-4 skillTexts">
      <h3>Things I can do:</h3>
    </div>
    <div class="col-md-4 hiddenColumns">
      <p></p>
    </div>
  </div>

  

  <app-dotnet></app-dotnet>
  <app-entity-framework></app-entity-framework>
  <app-sql></app-sql>
  <app-ui></app-ui>
  <app-misc></app-misc>
</div>