<div class="row" id="header">
  <div class="col-md-12">
    <app-navbar></app-navbar>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 hiddenColumns">
      <p></p>
    </div>
    <div class="col-md-4" id="mainTitle">
      <h1>BoGoodSki</h1>
    </div>
    <div class="col-md-4 hiddenColumns">
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 hiddenColumns">
      <p></p>
    </div>

    <div class="col-md-4" id="greeting">
      <p>I love two-way data-binding. Please tell me your name:</p>
      <div class="row">
        <div class="col-md-2">
          <p></p>
        </div>
        <div class="col-md-8" id="inputColumn">
          <input type="text" class="form-control" [(ngModel)]="userNameInput" id="inputWidth" />
          <div class="row">
            <div class="col-md-2">
              <p></p>
            </div>
            <div class="col-md-8" id="inputButtonColumn">
              <button class="btn btn-primary" (click)="onCreateUsername(userNameInput)">Submit</button>
            </div>
            <div class="col-md-2">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p></p>
    </div>
    <div class="col-md-8" id="greetingMessage">
      <p>{{ greeting }} </p>
    </div>
    <div class="col-md-2">
      <p></p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 hiddenColumns">
      <p></p>
    </div>
    <div class="col-md-4" id="contents">
      <h3>Things I can do:</h3>
      <p>
        <button class="btn btn-primary" (click)="onShowCsharp()">C#</button>
        <button class="btn btn-primary" (click)="onShowDotnet()">ASP.NET</button>
        <button class="btn btn-primary" (click)="onShowEntityFramework()">Entity Framework</button>
        <button class="btn btn-primary" (click)="onShowNode()">Node.js</button>
        <button class="btn btn-primary" (click)="onShowUI()">UI (Angular)</button>
        <button class="btn btn-primary" (click)="onShowSQL()">SQL</button>
        <button class="btn btn-primary" (click)="onShowCloud()">Cloud</button>
        <button class="btn btn-primary" (click)="onShowMisc()">Misc.</button>
      </p>
    </div>
    <div class="col-md-4 hiddenColumns">
      <p></p>
    </div>
  </div>

  <div *ngIf="showMisc">
    <app-misc></app-misc>
    <div class="row">
      <div class="col-md-4 hiddenColumns">
        <p></p>
      </div>
      <div class="col-md-4 skillTexts">
        <button class="btn btn-danger" (click)="onHideMisc();">Hide Misc.</button>
      </div>
      <div class="col-md-4 hiddenColumns">
        <p></p>
      </div>
    </div>
  </div>

  <div *ngIf="showCloud">
    <app-cloud></app-cloud>
    <div class="row">
      <div class="col-md-4 hiddenColumns">
        <p></p>
      </div>
      <div class="col-md-4 skillTexts">
        <button class="btn btn-danger" (click)="onHideCloud();">Cloud</button>
      </div>
      <div class="col-md-4 hiddenColumns">
        <p></p>
      </div>
    </div>
  </div>

  <div *ngIf="showSQL">
    <app-sql></app-sql>
    <div class="row">
      <div class="col-md-4 hiddenColumns">
        <p></p>
      </div>
      <div class="col-md-4 skillTexts">
        <button class="btn btn-danger" (click)="onHideSQL();">Hide SQL</button>
      </div>
      <div class="col-md-4 hiddenColumns">
        <p></p>
      </div>
    </div>
  </div>

  <div *ngIf="showUI">
    <app-ui></app-ui>
    <div class="row">
      <div class="col-md-4 hiddenColumns">
        <p></p>
      </div>
      <div class="col-md-4 skillTexts">
        <button class="btn btn-danger" (click)="onHideUI();">Hide UI</button>
      </div>
      <div class="col-md-4 hiddenColumns">
        <p></p>
      </div>
    </div>
  </div>

  <div *ngIf="showNode">
    <app-node></app-node>
    <div class="row">
      <div class="col-md-4 hiddenColumns">
        <p></p>
      </div>
      <div class="col-md-4 skillTexts">
        <button class="btn btn-danger" (click)="onHideNode();">Hide Node</button>
      </div>
      <div class="col-md-4 hiddenColumns">
        <p></p>
      </div>
    </div>
  </div>

  <div *ngIf="showEntityFramework">
    <app-entity-framework></app-entity-framework>
    <div class="row">
      <div class="col-md-4 hiddenColumns">
        <p></p>
      </div>
      <div class="col-md-4 skillTexts">
        <button class="btn btn-danger" (click)="onHideEntityFramework();">Hide Entity Framework</button>
      </div>
      <div class="col-md-4 hiddenColumns">
        <p></p>
      </div>
    </div>
  </div>

  <div *ngIf="showDotnet">
    <app-dotnet></app-dotnet>
    <div class="row">
      <div class="col-md-4 hiddenColumns">
        <p></p>
      </div>
      <div class="col-md-4 skillTexts">
        <button class="btn btn-danger" (click)="onHideDotnet();">Hide ASP.NET</button>
      </div>
      <div class="col-md-4 hiddenColumns">
        <p></p>
      </div>
    </div>
  </div>

  <div *ngIf="showCsharp">
    <app-csharp></app-csharp>
    <div class="row">
      <div class="col-md-4 hiddenColumns">
        <p></p>
      </div>
      <div class="col-md-4 skillTexts">
        <button class="btn btn-danger" (click)="onHideCsharp();">Hide C#</button>
      </div>
      <div class="col-md-4 hiddenColumns">
        <p></p>
      </div>
    </div>
  </div>
</div>