<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillHeadings">
    <h4>SQL</h4>
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillTexts">
    <p>I can create SQL Server databases via C# and the Entity Framework.</p>
    <p>I can manipulate db data via T-SQL queries, using RDBMS such as SQL Server Management Studio and MySQL. </p>
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>
