<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillHeadings">
    <h4>HTML/CSS/JavaScript</h4>
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillTexts">
    <p>I can create dynamic user interfaces, utilizing HTML/CSS/JavaScript, either via Angular (4/5) or jQuery.</p>
    <p>I can apply modern web necessities, such as two-way data binding, variable interpolation, CRUD commands via Http clients, etc.</p>
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>

