<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillHeadings">
    <h4>ASP.NET</h4>
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillTexts">
    <p>Using C#, I can design data models in order to build RESTful APIs to communicate data to/from client and server.</p>
    <p>I have a general understanding of object oriented programming, and intermediate-level C# concepts such as polymorphism,
      method overloading, encapsulation, class coupling, etc.</p>
      <p>I can use .NET MVC 5 to create fully functional websites, including CSHTML (Razor) webpages and/or connect to front-end JavaScript frameworks, such as Angular.</p>
      <p>I can use LINQ to query datasets / databases.</p>
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>