<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillHeadings">
    <h4>Misc.</h4>
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
  <div class="col-md-4 skillTexts">
    <p>I can utilize git and gitHub to manage version control.</p>
    <p>I'm experienced with the Software Development Life Cycle and, while assigned to the headquarters of a major federal agency, 
      participated in the SDLC from the opposing perspective, as a stakeholder on a large enterprise software project.</p>
    <p>I'm familiar with AGILE principles.</p>
    <p>I have in the past served as a SharePoint Administrator, as a site owner and designer.</p>
    <p>I have experience building reports via a third-party dashboard system, InfoBuilders' WebFocus.</p>
    <p>I can assess algorithmic size and space complexity.  Though, admittedly, this is a skill I'm still developing, and work on
      every day.  
    </p>   
  </div>
  <div class="col-md-4 hiddenColumns">
    <p></p>
  </div>
</div>
