/* You can add global styles to this file, and also import other style files */
/* Importing in CSS-Bootstrap */
@import "~bootstrap/dist/css/bootstrap.min.css";

/* importing custom font to use in the header */
@import url('https://fonts.googleapis.com/css?family=Bungee');

/*  importing font used throughout page */
@import url('https://fonts.googleapis.com/css?family=Squada+One');

/* importing the font used  in the skill description boxes */
@import url('https://fonts.googleapis.com/css?family=Oswald');

/* skillHeadings and skillTexts format the skill components on the main page*/
.skillHeadings {
    background-color: rgb(23, 24, 23);
    width: 600px;
    border-style: solid;
    border-color: rgb(42, 150, 94);
    font-family: 'Bungee', cursive;
    color: rgb(228, 190, 19);
    margin-top: 10px; 
}

.skillTexts {
    background-color: rgb(115, 209, 113);
    width: 600px;
    font-family: 'Oswald', sans-serif;
    padding-top: 15px; 
    padding-bottom: 5px; 
}

/* this formats the BoGoodSki heading on the main page*/
#mainTitle {
    background-color: rgb(42, 150, 94);
    width: 600px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    color: rgb(228, 190, 19);
    padding-left: 20px;
    padding-bottom: 5px;
    font-family: 'Bungee', cursive;
    font-style: italic;
}

/* hiddencolumns are used throughout the main page to center everything. 
they add white space to the left and right of the main content. */
.hiddenColumns {
    width: 200px; 
}

/* mainlink positions to the link in the upper navbar */
#mainLink {
    margin-left: 40px;
    padding-top: 5px;
    font-size: 16px;      
}

/* formatting for the upper navbar with the link back to the main portfolio*/
#header {
    background: linear-gradient(rgb(20, 211, 17), white);
    padding-left: 10px; 
    padding-top: 15px;
    
}
/* Provides space between the USF logo and the link back to the primary portfolio (in the 
navbar on the top of the page */
#headerLogo {
    width: 75px;
}

/*  Styling for the primary greeting textbox with the input field on the main page */
#greeting {
    background: linear-gradient(rgb(20, 211, 17), white); 
    width: 600px;
    padding-top: 10px; 
    margin-top: 15px; 
    font-family: 'Squada One', cursive;
    font-size: 20px; 
    color: rgb(0, 0, 0)
}

/*  Width of Input field that takes in the user's name */
#inputWidth {
    width: 300px;    
}
/*  centers the input field */
#inputColumn {
    width: 450px;
}

/*  centers the input button */
#inputButtonColumn {
    padding-top: 10px; 
}

/*  Styling for the "Things I can Do box */
#contents {
    background-color: rgb(42, 150, 94);
    width: 600px;
    border-style: solid;
    border-color: black;
    margin-top: 40px; 
    font-family: 'Squada One', cursive;
    font-size: 20px; 
    color: rgb(228, 190, 19);
    padding-bottom: 10px;
}

/* Styling for the greeting message that is provided when user submits their name */
#greetingMessage {
    padding-left: 30px; 
    padding-top: 15px;
    font-family: 'Squada One', cursive;
    font-size: 18px; 
    color: rgb(0, 0, 0)
}

.btn-primary {
    background-color: rgb(115, 209, 113);
    border-style: solid;
    border-color: black;
    color: rgb(142, 30, 54);

}

.btn-primary:hover {
    background-color: rgb(228, 190, 19);
}

.btn-primary:visited {
    background-color: rgb(115, 209, 113);
}

.btn-primary:active {
    background-color: rgb(115, 209, 113);
}

.btn-primary:focus {
    background-color: rgb(228, 190, 19);
    color: black; 
}

.btn-primary:link {
    background-color: rgb(115, 209, 113);
}

.btn-danger {
    background-color: black;
    border-style: solid;
    border-color: rgb(115, 209, 113);
    color: rgb(228, 190, 19);
    font-size: 18px; 
    font-family: 'Squada One', cursive;

}

.btn-danger:hover {
    background-color: rgb(228, 190, 19);
}

.btn-danger:visited {
    background-color: black;
}

.btn-danger:active {
    background-color: black;
}

.btn-danger:link {
    background-color: black;
}
